
}

#hero_img {
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 1%;


}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}

.input-group-btn .btn-group {
  display: flex !important;
}

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
  height: 34.5px;
}

.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  #adv-search {
    width: 500px;
    margin: 0 auto;
  }

  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}

body {
  background-color: #F3F3F3;
      font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Slabo 27px', serif;
}

.hero-unit {
  background-image: url(img/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: 50% 50%;
  height: 50vh;
}

.hero_search {
  margin-left: 50%;
}

.box {
  border-radius: 7px;
  background: #FFF;
  padding: 20px;
  height: auto;
  box-shadow: 5px 5px 5px #888;
  width: auto;
  align-items: flex-end;
}
.box_1 {
  border-radius: 7px;
  background: #FFF;
  padding: 20px;
  height: 30vh;
  box-shadow: 5px 5px 5px #888;
  width: auto;
  align-items: flex-end;
}
.box {
  border-radius: 7px;
  background: #FFF;
  padding: 20px;
  height: 30vh;
  box-shadow: 5px 5px 5px #888;
  width: auto;
  align-items: flex-end;
}

.right{
  float:right;
  width: 50%;
}

.list{
  margin-bottom: 3vh;
}

      #map {
        height: 350px;
        margin-bottom:5vh ;
        background: #FFF;
        padding: 0px;
        box-shadow: 5px 5px 5px #888;
        width: 100%;

      }

h1{
  font-family:  ,sans-serif;
}
.sel{
  padding-left: 3vw;
}
/* centered columns styles */
