#hero_img{
  margin-left:40%;
  margin-top: 5%;
}
body{
  background-color: #F3F3F3;
}
h1{
  color:blue;
}
.hero-unit {
background-image: url('img/hero.jpeg');
background-repeat: no-repeat;
background-size: cover !important;
   background-position: 50% 50%;

height: 40%
    }
.hero_search{
  margin-left:50%;
}
.hero_btn{
      background-color: #A71823; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
}
.box {
  border-radius: 20px;
  background: #73AD21;
  padding: 20px;
  height: 150px; }
